

#div1 {
	width: 100px;
	height: 100px;
	background-color: blue;
	transition: background-color 0.5s ease-out, width 0.5s ease-out;
}

.marked {
	width: 300px;
}

#div2 {
	width: 150px;
	height: 75px; 
	background-color: green;

}

.animate {
	animation: moved 1s ease-out forwards;
}

@keyframes moved {
	0%{
		transform: translateX(0) scale(1);
		opacity: 1;
	}
	50%{
		transform: translateX(300px) scale(1.2);
	}
	75%{
		transform: translateX(500px) scale(1);
		opacity: 0.3;
	}
	100%{
		opacity: 0.1;
	}
}

#simple {
	width: 100px;
	height: 100px;
	background-color: orange;
}

span {
	display: inline-block;
}

p {
	border: 1px solid black;
	background-color: lightblue;
	padding: 10px;
}

.test-result {
	margin: 10px 0;
	border: 1px darkblue solid;
	background-color: lightblue;
	padding: 10px;
}