<div id="div1"
	(click)="divClicked = !divClicked"
	[ngClass]="{marked: divClicked}"
	[ngStyle]="{backgroundColor: divClicked ? 'red' : 'blue'}">
	
</div>
<br>
<hr>
<br>
<div id="div2"
	(click)="doAnimate = !doAnimate"
	[ngClass]="{animate: doAnimate}">
	
</div>
<br>
<hr>
<br>

<div (click)="onClickSimple()"
	(mouseover)="clickInfo = 'mousedown'"
	(mouseleave)="clickInfo = 'default'"
	[@clickedState]="clickInfo">
	
</div>

<br>
<hr>
<br>

<div (click)="onClickSimple()"
	(mousedown)="clickInfo = 'mousedown'"
	[@clickedState]="clickInfo">
	
</div>

<p (click)="paragraphClick = 'clicked'"
	[@clickedState]="clickInfo">Some Text</p>

<br>
<hr>
<br>

<input type="number" (input)="numberEntered = $event.target.value">
<br><br>
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span> 
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span> 
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span> 
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span> 
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span> 
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span> 
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span> 
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span> 
<span [@numberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>

<br>
<hr>
<br>
<h1>Deep Into Angular Animations</h1>
<br>
<hr>
<br>

<button (click)="isShown = !isShown">Toggle Element</button>

<p @showState
	*ngIf="isShown">You can see me now!</p>
<br>
<br>
<button (click)="width = width - 50">Shrink</button>
<button (click)="animate = true">Animate Me</button>
<p [@animateState]="animate ? 'animated' : 'noAnimation'"
	[ngStyle]="{'width.px': width}">Shrink me</p>

<br>
<br>

<button (click)="onAddElement()">Add Element</button>
	
<div 
	*ngFor="let testResult of testResults"
	@listState
	class="test-result">
	{{ testResult }}
</div>
